* {
    box-sizing: border-box;
   
  }
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  button{
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
.btn1  button{
    background-color: #88878b;
    color: white;
    margin-top: 5px;

    /* padding: 10px 10px 10px 10px; */
    
    border: 1px solid silver;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .return{
    margin-top: 10px;
    

  }
  .return p{
    margin-top: 5px;
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }